# Préparation des données

- trouver/supprimer les données dupliquées : df.duplicated() / df.drop_duplicates()
- renommer des colonnes : df.rename(columns={...))
- trouver les NaN : df.isnull() / df.notnull() / df.dropna()
- travail sur les chaines : series.str.extract(), series.str.contains(), series.get_dummies()
- mapping : series.map()
- changer le type d'une série (cast) : df.astype(type) / pd.to_numeric() / pd.to_datetime()
- remplacer n'importe quelle valeur : df.replace({...})
- remplacer les NaN : df.fillna(), series.combine_first()

In [1]:
# imports
import numpy as np
import pandas as pd

#### Chargement et analyse des données

In [2]:
pd.read_csv?

In [3]:
# load data
df = pd.read_csv('people.csv')
df0 = df.copy()
df

,id,first_name,last_name,email address,gender,age,money,lon,lat,phone,registration,inactive,last_seen,address,preference
0,27625,Leandra,Pabelik,lpabelik5f@yale.edu,Female,63,$55.18,18.284100,49.632552,0136319724,2019/04/16,False,1.559566e+09,"Palkovice, Czech Republic",entrée/plat/dessert
1,27570,Ruthi,Ross,rross3w@sohu.com,Female,57,$20.37,19.230220,50.466575,NaN,2018/10/23,False,1.567165e+09,"Siewierz, Poland",entrée/plat/dessert
2,27572,Silas,Stourton,silas.stourton3y@answers.com,Male,22,"€32,99",118.831081,24.984813,NaN,2018/12/30,False,1.553692e+09,"Longbo, China",entrée/plat/dessert
3,27435,Roxine,Pettecrew,rpettecrew5@gravatar.com,F,64,"£98,93",121.648987,-8.844744,NaN,2019/03/12,False,1.552349e+09,"Potulando, Indonesia",entrée/plat
4,27558,Margaux,Gowanson,nope@thankyou.,Female,54,$13.30,14.772557,45.160472,NaN,2018/08/13,False,1.543383e+09,"Bribir, Croatia",entrée/plat/dessert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,27465,Adelind,Christin,achristinz@blogs.com,Female,30,"€81,84",41.427853,52.415968,NaN,2019/06/04,False,1.559606e+09,"Znamenka, Russia",entrée/plat/dessert
205,27476,Petronella,Pickance,ppickance1a@uiuc.edu,Female,28,€37.15,132.702111,33.762296,NaN,2017/11/22,False,1.532870e+09,"Iyo, Japan",entrée/plat/dessert
206,27521,Moritz,Issacof,missacof2j@wired.com,Male,21,$91.97,72.311099,31.263396,0298949280,2018/08/20,False,1.549817e+09,"Jhang Sadr, Pakistan",entrée/plat/dessert
207,27441,Quintana,Foulstone,qfoulstoneb@newsvine.com,F,32,"€55,64",111.138442,-6.783653,0734595126,2018/10/25,False,1.540426e+09,"Mantingantengah, Indonesia",entrée/plat/dessert
208,27597,Trueman,De Haven,tdehaven4n@goo.gl,Male,34,$81.54,-47.208953,-23.088650,0516973570,2017/06/05,False,1.540441e+09,"Indaiatuba, Brazil",entrée/plat/dessert

In [4]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             209 non-null    int64
 1   first_name     207 non-null    object
 2   last_name      207 non-null    object
 3   email address  203 non-null    object
 4   gender         207 non-null    object
 5   age            207 non-null    object
 6   money          190 non-null    object
 7   lon            207 non-null    float64
 8   lat            207 non-null    float64
 9   phone          83 non-null     object
 10  registration   207 non-null    object
 11  inactive       207 non-null    object
 12  last_seen      190 non-null    float64
 13  address        207 non-null    object
 14  preference     207 non-null    object
dtypes: float64(3), int64(1), object(11)
memory usage: 24.6+ KB

#### Duplications

- `duplicated()` : `True` ou `False` selon si une ligne est dupliquée
- `drop_duplicates()` : suppression des lignes dupliquées

In [ ]:
# lignes dupliquées
df.duplicated().value_counts()

In [ ]:
# toutes les lignes dupliquées
df.loc[df.duplicated(keep=False)].sort_values('id')

In [ ]:
# suppression des lignes dupliquées
df = df.drop_duplicates()
len(df)

In [ ]:
# doc
#df.drop_duplicates?

#### Renommage de la colonne 'email address'

In [ ]:
# renommer les colonnes
df = df.rename(columns={'email address': 'email'})
df.head()

#### Analyse des données manquantes

`numpy.nan` est utilisé dans **pandas** pour représenter des valeurs manquantes.

In [ ]:
# Not A Number
np.nan

In [ ]:
# type
type(np.nan)

In [ ]:
# élément super absorbant
np.nan + 1

In [ ]:
# élément super absorbant
np.sqrt(np.nan)

In [ ]:
# élément super absorbant
np.nan == np.nan

In [ ]:
np.nan > 1

In [ ]:
# au passage infinis numpy
np.NINF, np.inf

In [ ]:
np.inf > 1e100

In [ ]:
np.inf + 1e100

In [ ]:
np.inf == np.inf

In [ ]:
np.inf + np.NINF

In [ ]:
np.inf + np.inf > np.inf

#### Tests sur les données manquantes

- `isnull()` ou `isna()`
- `notnull()` ou `notna()`

In [ ]:
# ne fonctionne pas
df.loc[df['first_name']==np.nan]

In [ ]:
# chercher les first_name Nan
df.loc[df['first_name'].isnull()]

In [ ]:
# sur tout le dataframe
df.isnull()

In [ ]:
# chercher tous les lignes avec au moins un NaN
df.loc[df.isnull().any(axis=1)]

In [ ]:
# suppression de toutes les lignes avec un NaN
df.dropna()

In [ ]:
# suppression de toutes les lignes avec un NaN
df.dropna().isnull().any().any()

In [ ]:
# supprimer uniquement les lignes dont le first_name NaN 
df = df.dropna(subset=['first_name'])
len(df)

#### Ajout d'une colonne 'full_name'

In [ ]:
# 'full_name'  = 'first_name last_name'
df['full_name'] = df['first_name'] + ' ' + df['last_name']

#### Analyse de la colonne 'address'

In [ ]:
# analyse de address
df['address'].value_counts()

#### Ajout des colonnes 'city' et 'country'

In [ ]:
# calcul de city et country à partir de address
df[['city', 'country']] = df['address'].str.extract('(.*), (.*)')
df.head()

#### Analyse des données

In [ ]:
# nunique : modalités par colonne
df.nunique()

#### Mapping du genre

In [ ]:
# analyse du gender
df['gender'].unique()

In [ ]:
# analyse du gender
df['gender'].value_counts()

In [ ]:
# traitement du gender
mapping = {'Female': 'F', 'Male': 'M', 'F': 'F', 'M': 'M'}
df['gender'] = df['gender'].map(mapping)
df.head()

In [ ]:
# dictionnaire incomplet
mapping0 = {'Female': 'F', 'Male': 'M'}
s = df0['gender'].map(mapping0)
df0['gender'].count(), s.count()

In [ ]:
# dictionnaire incomplet
s = df0['gender'].apply(lambda x: mapping0.get(x, x))
s.count()

In [ ]:
# traitement du gender, map() avec une Series
mapping = pd.Series({'Female': 'F', 'Male': 'M', 'F': 'F', 'M': 'M'})
mapping

In [ ]:
# traitement du gender avec une Series
df['gender'] = df['gender'].map(mapping)

In [ ]:
# au final
df['gender'].value_counts()

#### Analyse du genre

In [ ]:
# analyse gender NaN
len(df0.loc[df0['gender'].isnull()])

In [ ]:
# analyse prénom avec gender NaN
df0.loc[df0['gender'].isnull(), 'first_name'].nunique()

In [ ]:
# analyse gender
df0.loc[df0['gender'].isnull(), 'first_name'].unique()

Compléter le genre :

1. Autocomplétion avec le fichier people.csv (mais très peu de cas)
2. Gender API : https://gender-api.com/fr (simple mais API payante si gros volumes + de 500/mois)
3. US SSA baby names : https://www.ssa.gov/oact/babynames/limits.html ("gratuit", stats à produire, éventuellement affiner par année de naissance)

In [ ]:
# 1) Fichier people.csv
for first_name in df0.loc[df0['gender'].isnull(), 'first_name'].unique():
    print(first_name, df0.loc[df0['first_name']==first_name, 'gender'].unique())

#### Analyse de l'âge

`pandas.Series.astype()` : types

`pandas.to_numeric()` : data avec gestion des erreurs

In [ ]:
# analyse de l'âge
df.loc[df['age'].str.contains('[^0-9]'), 'age'].value_counts()

In [ ]:
pd.to_numeric?

In [ ]:
# traitement de l'âge
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df

#### Traitement des dates


`pandas.to_datetime()` : data, gestion des formats et des erreurs

`pandas.Series.combine_first()` : équivalent à `fillna()`

In [ ]:
cols_time = ['registration', 'last_seen']
df[cols_time]

In [ ]:
df[cols_time].dtypes

In [ ]:
pd.to_datetime?

In [ ]:
# conversion des dates
df['registration'] = pd.to_datetime(df['registration'])
df['last_seen'] = pd.to_datetime(df['last_seen'], unit='s')
# si last_seen est NaN, prendre registration
df['last_seen'] = df['last_seen'].fillna(df['registration'])
# idem
df['last_seen'] = df['last_seen'].combine_first(df['registration'])

In [ ]:
df.head()

#### Analyse de currency

In [ ]:
# échantillon
np.random.seed(0)
df.sample(10)

#### Traitement de 'currency'

Produire une nouvelle colonne numérique 'money_eur'.

Pour la conversion USD/EUR, on utilise l'API https://api.exchangeratesapi.io/latest

In [ ]:
# API
import json

import requests

response = requests.get('https://open.er-api.com/v6/latest/EUR')
rates = json.loads(response.content)
rates

In [ ]:
df['money'].value_counts()

In [ ]:
df['currency'] = df['money'].str[0].map({'€': 'EUR', '$': 'USD'})
df.head()

In [ ]:
rates['rates']

In [ ]:
# extraction de la currency
df['currency'] = df['money'].str[0].map({'€': 'EUR', '$': 'USD', '£': 'GBP'})
df['money_eur'] = df['money'].str[1:].str.replace(',', '.')  # extraction des derniers chars + , => .
df['money_eur'] = pd.to_numeric(df['money_eur'])  # conversion en nombre

# conversion des monnaies en euros
df['money_eur'] = df['money_eur'] / df['currency'].map(rates['rates'])
#np.random.seed(0)
#df.sample(10)
df.head()

In [ ]:
df['money_eur'] = df['money_eur'].apply(lambda x: round(x, 2))
df.head()

#### Analyse des emails

On va utiliser des regex pour nettoyer les emails mais mieux vaut utiliser une librairie spécialisée. Par exemple, https://github.com/syrusakbary/validate_email

In [ ]:
# email NaN
df['email'].isnull().sum()

In [ ]:
# suppression des emails absents
df = df.dropna(subset=['email']).copy()

In [ ]:
len(df)

In [ ]:
# emails avec chars non admis
df.loc[df['email'].str.contains('[^A-Za-z0-9_\-%+.@]'), 'email'].values

In [ ]:
# suppression des blancs
df['email'] = df['email'].str.strip()
df.loc[df['email'].str.contains('[^A-Za-z0-9_\-%+.@]'), 'email']

In [ ]:
# regex pour vérifier les domaines
df.loc[~df['email'].str.contains('.+@[A-Za-z0-9_\-.]+\.[A-Za-z]{2,}')]

In [ ]:
# emails avec noms de domaine invalides
df = df.loc[df['email'].str.contains('.+@[A-Za-z0-9_\-.]+\.[A-Za-z]{2,}')]

In [ ]:
# emails avec aliases (char +)
df.loc[df['email'].str.contains('\+'), 'email'].values

In [ ]:
# extraction des aliases (char +)
tab_email = df['email'].str.extract('([^+]+)(\+.*)?(@.+)').sort_values(0)
tab_email

In [ ]:
# '^...' regex au début

In [ ]:
# [abc]
# [a-zA-Z]
# [^abc] : pas a, b ou c
# [^0-9] : pas digit
# '<[^>]+>' : tag HTML
# '<.+>'

In [ ]:
# caractères parenthèses
# \([0-9]+\)

In [ ]:
# parenthèses non capturante
# (?:regex)

In [ ]:
# suprresion des aliases (char +)
df['email'] = tab_email[0] + tab_email[2]
df.sort_values('email')

In [ ]:
# suppression des emails en double, on conserve la première ligne
df = df.drop_duplicates(subset=['email'])
df.sort_values('email')

#### Analyse de la colonne 'preference'

In [ ]:
# analyse de preference
df['preference'].nunique()

In [ ]:
# analyse de preference
df['preference'].value_counts()

In [ ]:
# modalités de preference
s = set()
df['preference'].apply(lambda x: s.update(x.split('/')))
s

In [ ]:
# ajour d'un booléen par preference
for x in sorted(s):
    df[x] = df['preference'].str.contains(x)
    
df

In [ ]:
# autre façon avec get_dummies
df['preference'].str.get_dummies(sep='/')

In [ ]:
# assignation des préférences
tab_preference = df['preference'].str.get_dummies(sep='/')
df[tab_preference.columns] = tab_preference.astype(bool)
df

#### clean

In [ ]:
import json

import requests
import pandas as pd

def clean_people(df):
    
    # suppression des lignes dupliquées
    df = df.drop_duplicates()
    
    # renommer les colonnes
    df = df.rename(columns={'email address': 'email'})
    
    # supprimer uniquement les lignes dont le first_name vaut NaN 
    df = df.dropna(subset=['first_name'])
    
    # ajout d'une colonne 'full_name'
    df['full_name'] = df['first_name'] + ' ' + df['last_name']

    # calcul de city et country à partir de address
    df[['city', 'country']] = df['address'].str.extract('(.*), (.*)')

    # traitement du gender
    mapping = {'Female': 'F', 'Male': 'M'}
    df['gender'] = df['gender'].map(mapping)
 
    # traitement de l'âge
    df['age'] = pd.to_numeric(df['age'], errors='coerce')

    # conversion des dates
    df['registration'] = pd.to_datetime(df.registration)
    df['last_seen'] = pd.to_datetime(df.last_seen, unit='s')
    # si last_seen est NaN, prendre registration
    df['last_seen'] = df['last_seen'].fillna(df['registration'])

    # récupération des taux de change
    response = requests.get('https://open.er-api.com/v6/latest/EUR')
    rates = json.loads(response.content)

    # extraction de la currency
    df['currency'] = df['money'].str[0].map({'€': 'EUR', '$': 'USD'})
    df['money_eur'] = df['money'].str[1:].str.replace(',', '.')  # extraction des derniers chars + , => .
    df['money_eur'] = pd.to_numeric(df['money_eur'])  # conversion en nombre

    # conversion des monnaies en euros
    rates['rates']['EUR'] = 1.0  # ajour de EUR pour pouvoir utiliser map()
    df['money_eur'] = df['money_eur'] * df['currency'].map(rates['rates'])

    # suppression des emails absents
    df = df.dropna(subset=['email'])

    # suppression des blancs
    df['email'] = df['email'].str.strip()

    # emails avec noms de domaine valides
    df = df.loc[df['email'].str.contains('.+@[A-Za-z0-9_\-.]+\.[A-Za-z]{2,}')]
    
    # extraction des aliases (char +)
    tab_email = df['email'].str.extract('([^+]+)(\+.*)?(@.+)').sort_values(0)
    # suppression des aliases (char +)
    df['email'] = tab_email[0] + tab_email[2]

    # suppression des emails en double, on conserve la première ligne
    df = df.drop_duplicates(subset=['email'])

    # assignation des préférences
    tab_preference = df['preference'].str.get_dummies(sep='/')
    df[tab_preference.columns] = tab_preference.astype(bool)

    return df

In [ ]:
# run
import pandas as pd

df = pd.read_csv('people.csv')
print(df.shape)

df = clean_people(df)
print(df.shape)

**Exercice**

1. Téléchargez le fichier Excel "FranceTHD_Open_Data_Observatoire_2017_T2.xlsx" sur le niveau des débits sur les réseaux d'accès à Internet : ADSL, câble, Fibre FttH (T2 2015 - T2 2017) de la page : https://www.data.gouv.fr/fr/datasets/niveau-des-debits-sur-les-reseaux-dacces-a-internet-adsl-cable-fibre-ftth-t2-2015-t2-2017/

2. Chargez avec pd.read_excel() dans un DataFrame le dernier onglet "2017 T2" en mesurant le temps avec %%time en première instruction de cellule.

3. Modifiez le nom des 4 premières colonnes en : 'code INSEE', 'commune', 'département', 'nb locaux' par exemple.

4. Sauvegardez le DataFrame avec pd.to_pickle().

5. Rechargez le DataFrame à partir du fichier pickle en mesurant le temps avec %%time en première instruction de cellule et comparez.

6. Effectuez une opération de sélection sur les communes : par exemple, les communes qui commencent par "SAINT".

7. Diagnostiquez le message d'erreur.

8. Corrigez le DataFrame.

In [ ]:
%%time
df = pd.read_excel('FranceTHD_Open_Data_Observatoire_2017_T2.xlsx',
               sheet_name=-1,
               header=1)
df

#### Etudier les multiples options de read_csv

En particulier:

<pre>
pd.read_csv(
    <strong>filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]],</strong>
    <strong>sep=',',</strong>
    delimiter=None,
    <strong>header='infer',</strong>
    <strong>names=None,</strong>
    <strong>index_col=None,</strong>
    <strong>usecols=None,</strong>
    squeeze=False,
    prefix=None,
    mangle_dupe_cols=True,
    <strong>dtype=None,</strong>
    <strong>engine=None,</strong>
    <strong>converters=None,</strong>
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    <strong>skiprows=None,</strong>
    <strong>skipfooter=0,</strong>
    <strong>nrows=None,</strong>
    <strong>na_values=None,</strong>
    <strong>keep_default_na=True,</strong>
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    <strong>parse_dates=False,</strong>
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    iterator=False,
    <strong>chunksize=None,</strong>
    compression='infer',
    <strong>thousands=None,</strong>
    <strong>decimal: str = '.',</strong>
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    dialect=None,
    error_bad_lines=True,
    warn_bad_lines=True,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
)
</pre>

In [ ]:
#pd.read_csv?

#### Analyse automatique avec pandas_profiling

https://github.com/pandas-profiling/pandas-profiling

**ATTENTION, il vaut mieux installer `pandas_profiling` dans un nouvel environnement**

<pre>
conda create --name profiling

activate profiling OU conda activate profiling

conda install -c conda-forge pandas-profiling
</pre>

In [ ]:
# profiling raw people
from pandas_profiling import ProfileReport

df = pd.read_csv('people.csv')

profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)

profile.to_file("people.html")

In [ ]:
# profiling clean people
profile = ProfileReport(clean_people(df), title='Pandas Profiling Report', explorative=True)

profile.to_file("clean_people.html")